/*========== color ==========*/
$color-primary: #ffc336;
$color-gary: #333;

@mixin gradient-primary(){
  background: #fff1d0;
  background: -moz-linear-gradient(top,  #fff1d0 0%, #fff1d0 45%, #fdefce 48%, #eeddba 60%, #c1a77e 85%, #b79b70 92%, #ae9064 100%);
  background: -webkit-linear-gradient(top,  #fff1d0 0%,#fff1d0 45%,#fdefce 48%,#eeddba 60%,#c1a77e 85%,#b79b70 92%,#ae9064 100%);
  background: linear-gradient(to bottom,  #fff1d0 0%,#fff1d0 45%,#fdefce 48%,#eeddba 60%,#c1a77e 85%,#b79b70 92%,#ae9064 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1d0', endColorstr='#ae9064',GradientType=0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

@mixin gradient-gary(){
  background: #181818;
  background: mozlinear-gradient(top,  #181818 0%, #060606 100%);
  background: -webkit-linear-gradient(top,  #181818 0%,#060606 100%);
  background: linear-gradient(to bottom,  #181818 0%,#060606 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#060606',GradientType=0 );
  border-top: 1px solid #191919;
  border-bottom: 1px solid #191919;
  border-image: linear-gradient(to bottom, rgb(95, 95, 95) 0%, rgb(29, 29, 29) 100%);
  border-image-slice: 1;
}

@mixin gradient-dark-up{
  background: #111111;
  background: -moz-linear-gradient(top,  #111111 0%, #171717 2%, #1a1a1a 4%, #212121 89%, #212121 96%, #1d1d1d 98%, #161616 100%);
  background: -webkit-linear-gradient(top,  #111111 0%,#171717 2%,#1a1a1a 4%,#212121 89%,#212121 96%,#1d1d1d 98%,#161616 100%);
  background: linear-gradient(to bottom,  #111111 0%,#171717 2%,#1a1a1a 4%,#212121 89%,#212121 96%,#1d1d1d 98%,#161616 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#161616',GradientType=0 );
}

@mixin gradient-dark-down(){
  background: #080808;
  background: -moz-linear-gradient(top,  #080808 0%, #0f0f0f 2%, #1b1b1b 10%, #1b1b1b 22%, #121212 62%, #121212 98%, #0c0c0c 100%);
  background: -webkit-linear-gradient(top,  #080808 0%,#0f0f0f 2%,#1b1b1b 10%,#1b1b1b 22%,#121212 62%,#121212 98%,#0c0c0c 100%);
  background: linear-gradient(to bottom,  #080808 0%,#0f0f0f 2%,#1b1b1b 10%,#1b1b1b 22%,#121212 62%,#121212 98%,#0c0c0c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#0c0c0c',GradientType=0 );
}

/*========== font ==========*/
$fz-family: '微軟正黑體', sans-serif;

$fz-primary: 18px;
$fz-title: 30px;
$fz-sub: 24px;
$fz-min: 16px;

// $fz-primary-mid: 6.333vmin;
// $fz-title-mid: 8vmin;
// $fz-sub-mid: 4.666vmin;

// $fz-primary-min: 16px;
// $fz-title-min: 24px;
// $fz-sub-min: 15px;

/*========== form ==========*/
$inputH : 35px;